<style>

	/* TODO: integrate to master styleguide.css */
	.chosen-container-single .chosen-single span {
		width: calc(100% - 19px);
	}

	.tinner .tclose {
		color: #111fda;
	}

	.tinner .tclose:hover {
		color: #111fda;
    	background-color: #e2deea;
	}

	.ig-icon {
	    padding: 2px !important;
	    height: 28px;
	    position: absolute;
	    top: 6px;
	    margin-left: 4px;
	    z-index: 2600;
	}

	.sidebar-content .tour-rec {
		display: flex;
		flex-direction: row;
		flex: 1;
		flex-wrap: wrap;
		height: 700px;
	}

	.intro,
	.stats,
	.chart,
	.additional-layers {
		display: flex;
	 	flex-direction: column;
		padding: 5px 17px;
		width: 100%;
	}

	.select-controls {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.select-controls .left-side,
	.select-controls .right-side {
		width: 50%;
	}

	.select-controls .left-side {
		padding: 5px 5px 5px 17px;
		background-color: #e7e7e7;
	}

	.select-controls .right-side {
		background-color: #e7e7e7;
		padding: 5px 17px 5px 5px;
	}

	/* Stats */

	.stats {
		background-color: #f5f5f5;
		flex-wrap: wrap;
		flex-direction: row;
		padding-right: 9px;
	}

	.stats .header {
		text-align: center;
	    width: 100%;
	    font-weight: bold;
	    font-size: 16px;
	}

	.stats .stat {
		position: relative;
		background-color: #fff;
		color: #ccc;
		margin: 5px 0;
		width: 100%;
		height: 60px;
		cursor: pointer;
		white-space: nowrap;
   		margin-right: 8px;

   		overflow: hidden;
	}

	.stats .stat.non-interactive {
		width: calc(50% - 8px);
		color: #5d6165;
		cursor: default;
	}

	.stats .stat-info {
		width: 20px;
	    position: absolute;
	    top: 0;
	    bottom: 0;
		background-color: #dddddd;
	}

	.stats .stat.non-interactive .stat-info {
		display: none;
	}

	.stats .stat-info .fa-info-circle {
		color: #fff;
	    position: absolute;
	    top: 23px;
	    left: 4px;
	}

	.stats .stat.active .stat-info {
		background-color: #03a0da;
	}

	.stats .number {
    	display: block;
	    font-size: 24px;
	    line-height: 30px;
	    width: 100%;
	    padding-top: 3px;
	    text-align: center;
	}

	.stats .stat.non-interactive .number {
		font-size: 21px;
	}

	.stats .stat.active .number {
		color: #03a0da;
	}

	.stats .description {
		display: block;
	    line-height: 21px;
	    font-size: 16px;
	    width: 100%;
	    text-align: center;
	}

	.stats .stat.non-interactive .description {
		font-size: 14px;
	}

	.stats .stat.active .description {
		color: #03a0da;
	}

	.units {
		font-size: 80%;
	}

	/* End Stats */

	.chart {
		/*height: 207px;
		background: url(plugins/recreation-tourism/temp_chart_placeholder.png) no-repeat;*/
		background: #f3f4f3;
		text-align: center;
	}

	.chart .x.axis path,
	.chart .y.axis path {
		fill: none;
		stroke: #ccc;
		stroke-width: 1.5px;
		shape-rendering: crispEdges;
	}

	.chart .tick line {
		stroke: #333;
	}

	.chart rect.bar.On-Reef {
		fill: #77b873;
	}

	.chart rect.bar.Adjacent-Reef {
		fill: #5d97da;
	}


</style>

<div class="tour-rec">
	<div class="intro">
		Zoom on the map for high resolution maps for every coral reef nation in the world.
	</div>

	<div class="select-controls">
		<div class="left-side">
			Choose region to explore:
			<div class="chosen-wrap">
				<select id="chosenRegion" class="chosen">
					<option value="Global" selected>The World</option>

					<% _.each(regions, function(val, key) { if (val !== "Global") {%>
	    				<option value="<%= val %>"><%= val %></option>
	    			<% }}); %>
				</select>
			</div>
		</div>

		<div class="right-side">

		</div>
	</div>

	<div class="stats">
		<div class="header">Quick Stats for <span class="region-label">the World</span></div>
		<div class="stat active reef_value" data-layer=1>
			<div class="stat-info">
				<span class="fa fa-info-circle" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."></span>
			</div>
			<div class="number">
				$<span class="value"></span>
			</div>
			<div class="description">Value of coral reefs</div>
		</div>

		<div class="stat total_visitation" data-layer=2>
			<div class="stat-info">
				<span class="fa fa-info-circle"></span>
			</div>
			<div class="number">
				<span class="value"></span>
			</div>
			<div class="description">Total Visitation</div>
		</div>

		<div class="stat reef_highest_value" data-layer=3>
			<div class="stat-info">
				<span class="fa fa-info-circle" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."></span>
			</div>
			<div class="number">
				><span class="value"></span> <span class="units">per km<sup>2</sup> per year</span>
			</div>
			<div class="description">Highest value reefs (top 10%) generate</div>
		</div>

		<div class="stat non-interactive reef_area">
			<div class="stat-info">
				<span class="fa fa-info-circle"></span>
			</div>
			<div class="number">
				<span class="value"></span> <span class="units">km<sup>2</sup></span>
			</div>
			<div class="description">Total reef area</div>
		</div>

		

		<div class="stat non-interactive reef_area_tourism">
			<div class="stat-info">
				<span class="fa fa-info-circle" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."></span>
			</div>
			<div class="number">
				<span class="value"></span> <span class="units">km<sup>2</sup></span> (<span class="percentage"></span>%)
			</div>
			<div class="description">Reefs used for tourism</div>
		</div>

	</div>

	<div class="chart">

	</div>

	<!--
	<div class="additional-layers">
		<label class="form-component">
			<input type="checkbox">
			<div class="check"></div>
			<span class="form-text">Modelled total visitation value of coral reefs (per km<sup>2</sup>)</span>
		</label>
	</div>
	-->
</div>